In [11]:
import pandas as pd
import numpy as np
import sys

In [12]:
merge_train_100 = pd.DataFrame()
merge_train_100= pd.read_csv('fm_train_data_100.txt', header=None ,sep=' ')
merge_train_100

         0      1      2   3   4   5     6   7    8   9   10  11  12    13
0         1   7338    905   3   3   0   486   3  458   5  31   0   9  2007
1         1   6246   5717   1   1   2  2983   3  465  11  22   1   9  2011
2         0   5500     91   1   1   2    35   3  458   4  36   1   9  2007
3         0   6988   1848   2   9   6   393   3  465   5  31   1   9  2011
4         1   2957   2227   1   1   2    58   3  465  13  31   0   9  2007
...      ..    ...    ...  ..  ..  ..   ...  ..  ...  ..  ..  ..  ..   ...
1818745   1  11676   4722   2   4   3  3219   3  458  13  25   0   9  2010
1818746   1   3202   3033   1   1   1   393   3  465  18  26   1   9  2011
1818747   0  10964  27640   3   3   0   502  17  465  15  41   1   9  2012
1818748   0   5230  28232   3   3   4  2842   3  458   8  19   0   9  2016
1818749   1   1036    295   1   1   2    35   3  465   5  25   1   9  2012

[1818750 rows x 14 columns]

In [13]:
def process_line(line, train_full_len):
    sys.stdout.write('\r')
    process_str = '['
    for i in range(line):
        process_str = process_str + '|'
    for i in range(line, 101):
        process_str = process_str + ' '

    process_str = process_str + ']{}/{}'.format(line,train_full_len)
    sys.stdout.write(process_str)

In [14]:
merge_train_100_size = len(merge_train_100)
for rate in range(1, 10):
    merge_train_split = pd.DataFrame()
    split_size = merge_train_100_size // 100 * rate
    # print(split_size)
    process_line(rate, 100)
    merge_train_split = merge_train_100[:split_size]
    merge_train_split.to_csv('fm_train_data_{}.txt'.format(rate), header=None, index=None, sep=' ')

[|||||||||                                                                                            ]9/100

In [15]:
for rate in range(10, 101, 10):
    merge_train_split = pd.DataFrame()
    split_size = merge_train_100_size // 100 * rate
    # print(split_size)
    process_line(rate, 100)
    merge_train_split = merge_train_100[:split_size]
    merge_train_split.to_csv('fm_train_data_{}.txt'.format(rate), header=None, index=None, sep=' ')

[|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| ]100/100