In [1]:
import pandas as pd

In [14]:
# dataset: https://cseweb.ucsd.edu//~jmcauley/datasets.html

# read from csv as Pandas Dataframe
df = pd.read_csv('100k_a.csv', header=None)
# create Map for rename columns in dataframe
cols_name = {0:'user id', 1:'stream id', 2:'streamer name', 3:'start time', 4:'stop time'}
# rename dataframe
df = df.rename( columns=cols_name, inplace=False)
df

         user id    stream id   streamer name  start time  stop time
0              1  33842865744        mithrain         154        156
1              1  33846768288           alptv         166        169
2              1  33886469056        mithrain         587        588
3              1  33887624992            wtcn         589        591
4              1  33890145056       jrokezftw         591        594
...          ...          ...             ...         ...        ...
3051728   100000  34167930576          mckytv        3582       3583
3051729   100000  34168288656        natehill        3582       3583
3051730   100000  34169594512        fortnite        3582       3584
3051731   100000  34180223072  highdistortion        3709       3711
3051732   100000  34181187808        symfuhny        3706       3708

[3051733 rows x 5 columns]