In [17]:
import pandas as pd
import numpy as np
import sys

In [18]:
merge_train_100 = pd.DataFrame()
merge_train_100= pd.read_csv('ffm_train_data_100.txt', header=None ,sep=' ')
merge_train_100

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,1:7338:1,2:905:1,3:3:1,4:3:1,5:0:1,6:486:1,7:3:1,8:458:1,9:5:1,10:31:1,11:0:1,12:9:1,13:2007:1
1,1,1:6246:1,2:5717:1,3:1:1,4:1:1,5:2:1,6:2983:1,7:3:1,8:465:1,9:11:1,10:22:1,11:1:1,12:9:1,13:2011:1
2,0,1:5500:1,2:91:1,3:1:1,4:1:1,5:2:1,6:35:1,7:3:1,8:458:1,9:4:1,10:36:1,11:1:1,12:9:1,13:2007:1
3,0,1:6988:1,2:1848:1,3:2:1,4:9:1,5:6:1,6:393:1,7:3:1,8:465:1,9:5:1,10:31:1,11:1:1,12:9:1,13:2011:1
4,1,1:2957:1,2:2227:1,3:1:1,4:1:1,5:2:1,6:58:1,7:3:1,8:465:1,9:13:1,10:31:1,11:0:1,12:9:1,13:2007:1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1818745,1,1:11676:1,2:4722:1,3:2:1,4:4:1,5:3:1,6:3219:1,7:3:1,8:458:1,9:13:1,10:25:1,11:0:1,12:9:1,13:2010:1
1818746,1,1:3202:1,2:3033:1,3:1:1,4:1:1,5:1:1,6:393:1,7:3:1,8:465:1,9:18:1,10:26:1,11:1:1,12:9:1,13:2011:1
1818747,0,1:10964:1,2:27640:1,3:3:1,4:3:1,5:0:1,6:502:1,7:17:1,8:465:1,9:15:1,10:41:1,11:1:1,12:9:1,13:2012:1
1818748,0,1:5230:1,2:28232:1,3:3:1,4:3:1,5:4:1,6:2842:1,7:3:1,8:458:1,9:8:1,10:19:1,11:0:1,12:9:1,13:2016:1
1818749,1,1:1036:1,2:295:1,3:1:1,4:1:1,5:2:1,6:35:1,7:3:1,8:465:1,9:5:1,10:25:1,11:1:1,12:9:1,13:2012:1

In [19]:
def process_line(line, train_full_len):
    sys.stdout.write('\r')
    process_str = '['
    for i in range(line):
        process_str = process_str + '|'
    for i in range(line, 101):
        process_str = process_str + ' '

    process_str = process_str + ']{}/{}'.format(line,train_full_len)
    sys.stdout.write(process_str)

In [22]:
merge_train_100_size = len(merge_train_100)
for rate in range(1, 100):
    merge_train_split = pd.DataFrame()
    split_size = merge_train_100_size // 100 * rate
    # print(split_size)
    process_line(rate, 100)
    merge_train_split = merge_train_100[:split_size]
    merge_train_split.to_csv('ffm_train_data_{}.txt'.format(rate), header=None, index=None, sep=' ')

[|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||  ]99/100