In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
members = pd.read_csv('data_cleaned/members.csv',)
songs = pd.read_csv('data_cleaned/songs.csv')
train = pd.read_csv('data_cleaned/train.csv')

In [4]:
members_df = members.drop(columns='Unnamed: 0',axis=1)
members_df.head(3)

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date,registration_year
0,zgPOEyUn5a/Fvuzb3m69ajzxjkbblVtObglW89FzLdo=,13,43,0,9,20120703,20171006,2012
1,GoFYKhcq8Q5Gjz1M5L0azHZOhcY+Za/T7fRqIGgBuYA=,12,28,1,9,20060531,20170816,2006
2,RoSfblbwJN/izEnFIVw8TgOpm8R/NEpUC84Oz/b32HQ=,15,33,0,3,20150915,20171019,2015

In [5]:
songs_df = songs.drop(columns='Unnamed: 0',axis=1)
songs_df.head(3)

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language,genre_ids_solo
0,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,0,0,0,3,465
1,o0kFgae9QtnYgRkVPqLJwa05zIhRlUjfF7O1tDw0ZDU=,197328,444,1,1,1,31,444
2,dKMBWoZyScdxSkihKG+Vf47nc18N9q4m58+b4e7dSSE=,273554,465,2,2,2,3,465

In [6]:
train_df = train.drop(columns='Unnamed: 0',axis=1)
train_df.head(3)

,msno,song_id,source_system_tab,source_screen_name,source_type,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,0,0,0,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,1,1,1,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,1,1,1,1

In [7]:
train_df

,msno,song_id,source_system_tab,source_screen_name,source_type,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,0,0,0,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,1,1,1,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,1,1,1,1
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,1,1,1,1
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,0,0,0,1
...,...,...,...,...,...,...
6959292,6xdFzPlrasIDD95mQWXVC3Bg4ptnGYtBl4ztVEZMddU=,VJTxizih/o28kXCbtPbIyWXScoXGvxyYtl6R+0YB5JM=,1,1,1,1
6959293,ZxbVmt3Kh/XOH+h58c2Kdj6SjFZk+wnUO006IgWzMQE=,z1mqaU9YOX7T/PFDvUoWozdFq7rC3KwaQP7nFVprjMI=,2,10,7,0
6959294,ZxbVmt3Kh/XOH+h58c2Kdj6SjFZk+wnUO006IgWzMQE=,750RprmFfLV0bymtDH88g24pLZGVi5VpBAI300P6UOA=,2,10,7,1
6959295,0aH4Hd3ziPSRHClRX8rkeOEaAG5EPPkW1mKGCdXEok0=,G8wgqObgeAMER/rVCIlgcNeQ8mm0CzF/GsxiMK8TTnA=,3,13,0,1
6959296,0aH4Hd3ziPSRHClRX8rkeOEaAG5EPPkW1mKGCdXEok0=,Ju0VGkjWeBUZCd7r5Az2hUImhMoWxWLUicOedsmvG0g=,3,13,0,1

In [8]:
X_full = pd.merge(train_df, songs_df)
X_full

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,genre_ids_solo
0,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,VkILU0H1h3NMmk9MQrXouNudGk5n8Ls5cqRRuBxeTh4=,1,1,1,1,229982,465,6246,32276,14803,31,465
1,DIkkCsQiSIz/VINZSKvRW8kMYt8+0G2UR5a8eJYHC4E=,VkILU0H1h3NMmk9MQrXouNudGk5n8Ls5cqRRuBxeTh4=,1,1,2,1,229982,465,6246,32276,14803,31,465
2,ceXOGLrR/mNwc0OCAoTvYYDAlMmf0A25nG0d0Rx5HeM=,VkILU0H1h3NMmk9MQrXouNudGk5n8Ls5cqRRuBxeTh4=,1,1,2,1,229982,465,6246,32276,14803,31,465
3,HytLFoGhonEyKyuIM5hAW5gn/3hpnT8BYFFs1xpTnUs=,VkILU0H1h3NMmk9MQrXouNudGk5n8Ls5cqRRuBxeTh4=,1,10,0,1,229982,465,6246,32276,14803,31,465
4,gd4r2BcTiNZei17DlvyNU2pEUthfOhtPINOKeJzAkNU=,VkILU0H1h3NMmk9MQrXouNudGk5n8Ls5cqRRuBxeTh4=,1,1,1,0,229982,465,6246,32276,14803,31,465
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3859406,zuy5gJb3Cr9d6GOUZF/s5OhM/MGqCveCMz3UItulwq8=,fWeyqCqy1Hkwjv09T0vliYYW3HWrSOoBAFqpMLPuhnI=,3,5,3,0,242102,444,9948,27784,27217,31,444
3859407,zuy5gJb3Cr9d6GOUZF/s5OhM/MGqCveCMz3UItulwq8=,/sqir7QnP9TEPX33lATgzxH19mMDuCJA/lq0eybm+q4=,3,5,3,0,253910,444,9948,27784,27217,31,444
3859408,NMjW8qxMk/ojwFH12PXQmwEsP48/c3rLi7MWU2QHa7k=,5lEQfOkaQ5vuTK7w9lW21/WqDW33pA2Wgho6UGg4/0I=,1,1,2,0,271255,465,4535,10957,10694,17,465
3859409,wCGT5Nb+vL9GXEZ87Kp8BAqFOVZugZSxG1706efctMU=,FmdO/4DNXqJWwA0FH2LEdvy/WuUU/Aq2DKlbFvQT6oY=,3,13,3,0,397479,2079,14652,43794,42833,52,2079
3859410,wCGT5Nb+vL9GXEZ87Kp8BAqFOVZugZSxG1706efctMU=,qzY5KBI8QBg1fs/qrhNm1KLe7lVbjYRbNtA595gl9vQ=,3,13,3,0,420911,2079,14652,43794,42833,52,2079

In [9]:
X_full = pd.merge(X_full, members_df)
X_full

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,genre_ids_solo,city,bd,gender,registered_via,registration_init_time,expiration_date,registration_year
0,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,VkILU0H1h3NMmk9MQrXouNudGk5n8Ls5cqRRuBxeTh4=,1,1,1,1,229982,465,6246,32276,14803,31,465,13,24,0,9,20110525,20170911,2011
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,8FGjC9W+7F8WjheGZPAwX9RH3+nWSO7DzjM6EB6naOI=,1,1,2,1,224597,465,211,234,231,3,465,13,24,0,9,20110525,20170911,2011
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,IgMar/mVrJQ+ODFPytDf7jwQMmR09+slyZUdVylRFLc=,1,1,2,0,210364,465|458,5,6,1986,3,465,13,24,0,9,20110525,20170911,2011
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,6HofPS0v2MVFsL10yCN7dXUL+gUOnvsD35vx3HmRbdE=,1,1,2,1,240624,465,56,13853,23428,31,465,13,24,0,9,20110525,20170911,2011
4,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,cL24vvYHrkz4YjAzU4OtrjGXUz1wBNWFqC/PQXMKIY0=,1,1,2,1,248685,465,1184,1170,148,3,465,13,24,0,9,20110525,20170911,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2273433,BLf+/aYd/AtEHsd22CAIbgu25HPAOte9jAYfqlkNA6w=,ZcKgNis1AP1LA0sdtIddrtk7P04iiJzJrXvwXdT/X3Q=,3,3,0,0,234161,458,7174,17936,17679,3,458,6,26,0,4,20170131,20170603,2017
2273434,E1JjbplmvNTvQLF9cklTpwSokwCr+VqXCCsMCiSBO7Y=,yk2hZS4SA2yit4orR06WHYDkkXg5+E77bA7Y533znZ4=,3,4,3,0,203180,1609,5820,23777,23302,52,1609,5,45,1,4,20160426,20170313,2016
2273435,E1JjbplmvNTvQLF9cklTpwSokwCr+VqXCCsMCiSBO7Y=,BHAyjBJZB9SiPodB4ZOTroIsmFpXwpHvCkQxpOCEhq8=,3,13,3,0,240192,458,3381,6233,6064,3,458,5,45,1,4,20160426,20170313,2016
2273436,E1JjbplmvNTvQLF9cklTpwSokwCr+VqXCCsMCiSBO7Y=,lYYc1FX2LSurKiqfQ2M8LhN0qhaoODUtPkaHPU8cdlI=,3,13,3,1,285600,458,3381,6233,6064,3,458,5,45,1,4,20160426,20170313,2016
2273437,E1JjbplmvNTvQLF9cklTpwSokwCr+VqXCCsMCiSBO7Y=,O+tsLs/SVJXucV3fcay+vJ98xtLKUp3I+OVtiHO1xwc=,3,13,3,0,238944,451,3381,6233,6064,24,451,5,45,1,4,20160426,20170313,2016

In [10]:
X_full.to_csv('data_cleaned/merge_train_songs_members.csv')

In [ ]:
# X_train, X_valid, y_train, y_valid = train_test_split()